<div class="container">

  <div class="row justify-content-center my-3 ">
    <div class="col-md-12 ">
      <div class="form-sign border-round shadow p-3 mb-5 bg-white rounded">
        <h2>Sign up</h2>

        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= f.error_notification %>

          <div class="form-controls">
            <%= f.input :email,
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "email" }%>
            <%= f.input :password,
                        required: true,
                        hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                        input_html: { autocomplete: "new-password" } %>
            <%= f.input :password_confirmation,
                        required: true,
                        input_html: { autocomplete: "new-password" } %>
            <%= f.input :first_name,
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "first name" }%>
            <%= f.input :last_name,
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "last name" }%>
            <%= f.input :username,
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "username" }%>
            <%= f.input :saving_percentage,
                        required: true,
                        collection: 5..100,
                        autofocus: true,
                        input_html: { autocomplete: "saving percentage" }%>
      </div>

        <div class="form-actions">
          <%= f.button :submit, "Create User!",  class: "btn btn-primary"%>
          <%= render "devise/shared/links"%>
        </div>
      <% end %>
    </div>
  </div>
  </div>
</div>
