<div class="container-fluid">
  <h1 class="text-center my-4">Bienvenido <%= @user.username.capitalize %></h1>
  <% if @expenses.any? %>
    <div class="row my-3">
      <div class="col-md-6 my-2">
        <div class="card">
          <div class="card-header">
            Resumen de gastos
          </div>
          <div class="card-body">
              <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" id="pills-totales-tab" data-toggle="pill" href="#pills-totales" role="tab" aria-controls="pills-totales" aria-selected="true">Total</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="pills-mensuales-tab" data-toggle="pill" href="#pills-mensuales" role="tab" aria-controls="pills-mensuales" aria-selected="false">Mensual</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="pills-semanales-tab" data-toggle="pill" href="#pills-semanales" role="tab" aria-controls="pills-semanales" aria-selected="false">Semanal</a>
                </li>
              </ul>
              <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-totales" role="tabpanel" aria-labelledby="pills-totales-tab">
                    <%= column_chart @expenses.group(:category).sum(:amount) , title: "Detalle de gastos", download: true, download: {filename: "Detalle Gastos"}, dataset: {borderWidth: 1} %>
                </div>
                <div class="tab-pane fade" id="pills-mensuales" role="tabpanel" aria-labelledby="pills-mensuales-tab">
                    <%= line_chart @expenses.group_by_month(:created_at, last: 6, format: "%b").sum(:amount) , title: "Detalle de gastos", download: true, download: {filename: "Detalle Gastos"}, dataset: {borderWidth: 1} %>
                </div>
                <div class="tab-pane fade" id="pills-semanales" role="tabpanel" aria-labelledby="pills-semanales-tab">
                    <%= line_chart @expenses.group_by_day_of_week(:created_at, format: "%a", week_start: :monday).sum(:amount) , title: "Detalle de gastos", download: true, download: {filename: "Detalle Gastos"}, dataset: {borderWidth: 1} %>
                </div>
              </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 border-left-dark my-2">
        <div class="card">
          <div class="card-header">
            <div class="d-flex align-items-center justify-content-between">
              <h6 class="mt-2">Chanchito Actual</h6>
              <%= link_to "Ver mis ahorros", savings_path, class:"btn btn-success btn-sm text-decoration-none"%>
            </div>
          </div>
          <div class="card-body">
            <% if @savings.any? %>
              <% if @savings.last.status == "Open" %>
                <div class="my-2 p-2 border rounded-lg">
                    <div class="my-2">
                      <h2 class="card-title align-self-center text-center"><%= @savings.last.goal_description %></h2>
                      <h5 class="card-text align-self-center">$<%= @savings.last.total_amount %> / $<%= @savings.last.goal %></h5>
                    </div>
                    <div class="progress">
                      <div class="progress-done" data-done="<%= @savings.last.progress %>">
                        <% if @savings.last.progress >= 100 %>
                          <%= "Felicitaciones llegaste a tu objetivo!" %>
                        <% else %>  
                          <%= @savings.last.progress %>%
                        <% end %>
                      </div>
                    </div>  
                </div>
              <% else %>
                <div class="my-2 p-2 border rounded-lg">
                  <h5 class="card-title">Todos tus canchitos estan rotos, crea uno nuevo!</h5>
                  <%= link_to "Crear!", new_saving_path, class:"btn btn-gradient card-title" %>
                </div>
              <% end %>
            <% else %>
              <div>
                <h5 class="card-title">Aun no creaste ningun chanchito, crea uno nuevo!</h5>
                <%= link_to "Crear!", new_saving_path, class:"btn btn-gradient card-title" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %> 
  <div class="row my-3">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <div class="d-flex align-items-center justify-content-between">
            <h6 class="mt-2">Datos Personales</h6>
            <button type="button" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#staticBackdrop">
              Editar Datos
            </button>
          </div>
        </div>
        <div class="card-body">
          <h5 class="card-title"> Usuario: <%= @user.username %></h5>
          <h5 class="card-title"> Nombre: <%= @user.first_name %></h5>
          <h5 class="card-title"> Apellido: <%= @user.last_name %></h5>
          <h5 class="card-title"> Email: <%= @user.email %></h5>
          <h5 class="card-title"> Porcentaje de ahorro: <%= @user.saving_percentage %>%</h5>
        </div>
      </div>
    </div>
  </div>

  <div class="row my-3">
    <div class="col-md-12">
      
    </div>
  </div>
  <div class="row my-3">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <div class="d-flex align-items-center justify-content-between">
            <h6 class="mt-2">Mis ultimos gastos</h6>
            <%= link_to "Todos mis gastos", expenses_path, class:"btn btn-danger btn-sm text-decoration-none"%>
          </div>
        </div>
        <div class="card-body">
          <% if @expenses.any? %>
            <% @expenses.last(5).each do |expense| %>
              <div class="my-2 p-2 border rounded-lg">
                <div class="d-flex align-items-center justify-content-between mx-2">
                  <h5 class="card-title">$<%= expense.amount %></h5>
                  <p class="card-title font-weight-lighter">Ahorrado $<%= ( expense.amount * @user.saving_percentage ) / 100 %></p>
                </div>
                <div>
                  <p class="card-text mx-2"><%= expense.category %></p>
                </div>
              </div>
            <% end %>
          <% else %>
            <div>
              <h5 class="card-text mx-2">Aun no has cargado ningun gasto</h5>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>




<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h5 class="modal-title" id="staticBackdropLabel">Editar Usuario</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= simple_form_for @user do |f| %>
        <div class="modal-body">
          <div id="formulario" class="container-fluid text-center">
            <div class="form-inputs">
              <div class="row">
                <div class="col-md-6">
                  <%= f.input :first_name,
                    hint: "leave it blank if you don't want to change it",
                    required: false,
                    input_html: { autocomplete: "Nombre" } %>
                </div>
                <div class="col-md-6">
                  <%= f.input :last_name,
                    hint: "leave it blank if you don't want to change it",
                    required: false,
                    input_html: { autocomplete: "Apellido" } %>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <%= f.input :username,
                  hint: "leave it blank if you don't want to change it",
                  required: false,
                  input_html: { autocomplete: "Nombre de usuario" } %>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <%= f.input :email,
                  hint: "leave it blank if you don't want to change it",
                  required: false,
                  input_html: { autocomplete: "Mail" } %>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <%= f.input :password,
                    hint: "leave it blank if you don't want to change it",
                    required: false,
                    input_html: { autocomplete: "new-password" },
                    label: "New Password" %>
                </div>
                <div class="col-md-6">
                  <%= f.input :password_confirmation,
                    required: false,
                    input_html: { autocomplete: "new-password" } %>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <%= f.input :current_password,
                    hint: "we need your current password to confirm your changes",
                    required: true,
                    input_html: { autocomplete: "current-password" } %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer d-flex justify-content-around">
          <div class="form-actions">
            <button type="button" class="btn btn-secondary pt-2" data-dismiss="modal">Close</button>
            <%= f.button :submit, "Update", class: "btn btn-flat pt-2" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
