<div class="container-fluid">
<div class="row pl-2">
  <div class="col-md-6">  
    <div class="d-flex align-items-center">
      <h1 class="text-center my-4">Bienvenido <%= @user.username.capitalize %></h1>
      <button type="button" class="animated-button-pink thar-four ml-2 p-1" data-toggle="modal" data-target="#staticBackdrop">
        Editar
      </button>
    </div>
  </div>
</div>
  <% if @expenses.any? %>
    <div class="row my-3">
      <div class="col-md-6 my-2">
        <div class="card">
          <div class="card-header">
            Resumen de gastos
          </div>
          <div class="card-body">
              <ul class="nav list-inline tabs-underlined  mb-3 " id="tabs-underlined" role="tablist">
                <li class="nav-item">
                  <a class="tab-underlined active " id="pills-totales-tab" data-toggle="pill" href="#pills-totales" role="tab" aria-controls="pills-totales" aria-selected="true">Total</a>
                </li>
                <li class="nav-item">
                  <a class="tab-underlined" id="pills-mensuales-tab" data-toggle="pill" href="#pills-mensuales" role="tab" aria-controls="pills-mensuales" aria-selected="false">Mensual</a>
                </li>
                <li class="nav-item">
                  <a class="tab-underlined" id="pills-semanales-tab" data-toggle="pill" href="#pills-semanales" role="tab" aria-controls="pills-semanales" aria-selected="false">Semanal</a>
                </li>
              </ul>
              <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active py-4" id="pills-totales" role="tabpanel" aria-labelledby="pills-totales-tab">
                    <%= column_chart @expenses.group(:category).sum(:amount) , title: "Detalle de gastos", download: true, download: {filename: "Detalle Gastos"}, dataset: {borderWidth: 1} %>
                </div>
                <div class="tab-pane fade py-4" id="pills-mensuales" role="tabpanel" aria-labelledby="pills-mensuales-tab">
                    <%= line_chart @expenses.group_by_month(:created_at, last: 6, format: "%b").sum(:amount) , title: "Detalle de gastos", download: true, download: {filename: "Detalle Gastos"}, dataset: {borderWidth: 1} %>
                </div>
                <div class="tab-pane fade py-4" id="pills-semanales" role="tabpanel" aria-labelledby="pills-semanales-tab">
                    <%= line_chart @expenses.group_by_day_of_week(:created_at, format: "%a", week_start: :monday).sum(:amount) , title: "Detalle de gastos", download: true, download: {filename: "Detalle Gastos"}, dataset: {borderWidth: 1} %>
                </div>
              </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 border-left-dark my-1">
        <div class="card">
          <div class="card-header">
            <h6>Piggy Tip del día</h6>
          </div>
          <div class="card-body p-2">
            <h5 class="card-title">Qué es una acción?</h5>
            <p>Una acción es un activo financiero que representa una parte alícuota del capital social de una sociedad anónima (S.A).</p>
            <p>Al adquirir acciones se reciben unos derechos sobre la empresa y se obtiene la categoría de socio. De esta forma el comprador de la acción se convierte en dueño de la empresa en una proporción acorde a las acciones que hayamos comprado.</p>
          </div>
        </div>
        <div class="card my-3">
          <div class="card-header">
            <div class="d-flex align-items-center justify-content-between">
              <h6 class="mt-2">Chanchito Actual</h6>
              <%= link_to "Ver mis ahorros", savings_path, class:"btn btnFullPink btn-sm text-decoration-none"%>
            </div>
          </div>
          <div class="card-body">
            <% if @savings.any? %>
              <% if @savings.last.status == "Open" %>
                <h2 class="card-title align-self-center text-center"><%= @savings.last.goal_description %></h2>
                <% if @savings.last.progress > 0 %>
                  <div class="progress">
                    <div class="progress-done" data-done="<%= @savings.last.progress %>">
                      <% if @savings.last.progress >= 100 %>
                        <%= "Felicitaciones llegaste a tu objetivo!" %>
                      <% else %>  
                        <%= @savings.last.progress %>%
                      <% end %>
                    </div>
                  </div>
                <% end %>
              <% else %>
                <h5 class="card-title">Todos tus canchitos estan rotos, crea uno nuevo!</h5>
                <%= link_to "Crear!", new_saving_path, class:"btn btn-gradient card-title" %>
              <% end %>
            <% else %>
              <h5 class="card-title">Aun no creaste ningun chanchito, crea uno nuevo!</h5>
              <%= link_to "Crear!", new_saving_path, class:"btn btn-gradient card-title" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <div class="row my-3">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <div class="d-flex align-items-center justify-content-between">
            <h6 class="mt-2">Mis ultimos gastos</h6>
            <%= link_to "Todos mis gastos", expenses_path, class:"btn btnAnimation btn-sm text-decoration-none"%>
          </div>
        </div>
        <div class="card-body">
          <% if @expenses.any? %>
            <% @expenses.last(5).each do |expense| %>
              <div class="my-2 p-2 border rounded-lg">
                <div class="d-flex align-items-center justify-content-between mx-2">
                  <h5 class="card-title">$<%= expense.amount %></h5>
                  <p class="card-title font-weight-lighter">Ahorrado $<%= ( expense.amount * @user.saving_percentage ) / 100 %></p>
                </div>
                <div>
                  <p class="card-text mx-2"><%= expense.category %></p>
                </div>
              </div>
            <% end %>
          <% else %>
            <div>
              <h5 class="card-text mx-2">Aun no has cargado ningun gasto</h5>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h5 class="modal-title" id="staticBackdropLabel">Editar Usuario</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= simple_form_for @user do |f| %>
        <div class="modal-body">
          <div id="formulario" class="container-fluid text-center">
            <div class="form-inputs">
              <div class="row">
                <div class="col-md-6">
                  <%= f.input :first_name,
                    hint: "leave it blank if you don't want to change it",
                    required: false,
                    input_html: { autocomplete: "Nombre" } %>
                </div>
                <div class="col-md-6">
                  <%= f.input :last_name,
                    hint: "leave it blank if you don't want to change it",
                    required: false,
                    input_html: { autocomplete: "Apellido" } %>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <%= f.input :username,
                  hint: "leave it blank if you don't want to change it",
                  required: false,
                  input_html: { autocomplete: "Nombre de usuario" } %>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <%= f.input :email,
                  hint: "leave it blank if you don't want to change it",
                  required: false,
                  input_html: { autocomplete: "Mail" } %>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <%= f.input :password,
                    hint: "leave it blank if you don't want to change it",
                    required: false,
                    input_html: { autocomplete: "new-password" },
                    label: "New Password" %>
                </div>
                <div class="col-md-6">
                  <%= f.input :password_confirmation,
                    required: false,
                    input_html: { autocomplete: "new-password" } %>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <%= f.input :current_password,
                    hint: "we need your current password to confirm your changes",
                    required: true,
                    input_html: { autocomplete: "current-password" } %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer d-flex justify-content-around">
          <div class="form-actions">
            <button type="button" class="btn btn-secondary pt-2" data-dismiss="modal">Close</button>
            <%= f.button :submit, "Update", class: "btn btn-flat pt-2" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
