


<div class="navbar navbar-expand-sm navbar-light navbar-lewagon sticky-top ">
  <nav class="navbar navbar-light ">
    <%= link_to root_path do %>
      <%= image_tag "https://cdn.iconscout.com/icon/premium/png-256-thumb/piggy-bank-2464704-2047142.png" , class: "avatar dropdown-toggle" %>
    <% end %>
  </nav>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse"  id="navbarSupportedContent ">
    <ul class="navbar-nav mr-auto d-flex">
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to "Perfil", user_path , class: "nav-link #{"border-bottom border-secondary"if request.path == user_path}" %>
        </li>
        <li class="nav-item">
          <%= link_to "Gastos",  expenses_path , class: "nav-link #{"border-bottom border-danger"if request.path == expenses_path}" %>
        </li>
         <li class="nav-item">
          <%= link_to "Agregar gasto", expenses_new_path , class: "nav-link #{"border-bottom border-danger"if request.path == expenses_new_path}" %>
        </li>
        <li class="nav-item">
          <%= link_to "Ahorros", savings_path , class: "nav-link #{"border-bottom border-danger"if request.path == savings_path}" %>
        </li>
        <li class="nav-item">
        <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link #{"border-bottom border-b-danger"if request.path == destroy_user_session_path}" %>
        </li>


      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Sign Up", new_user_registration_path , class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

