<div id="page-container">
  <div id="content-wrap">
    <div class="navbar d-flex justify-content-between bg-white py-3 px-4 sticky-top">
      <%= link_to root_path do %>
      <img src="https://png.pngtree.com/png-vector/20190115/ourlarge/pngtree-vector-piggy-bank-icon-png-image_321039.jpg" style="width: 40px; height: 40px" alt="">
      <% end %>
        <div class="align-items-center">
          <div class="dropdown  d-none d-sm-block">
            <%= image_tag "logo.png", class: "avatar", alt:"avatar", type: "image", id: "dropdownMenuButton", data: { toggle:"dropdown" }, aria: { haspopup:"true", expanded: "false" } %>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
              <% if user_signed_in? %>
                <%= link_to "My profile", user_path , class: "dropdown-item" %>
                <%= link_to "Add expenses", expenses_new_path , class: "dropdown-item" %>
                <%= link_to "My savings", savings_path , class: "dropdown-item" %>
                <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
              <% else %>
                <%= link_to "Log In", new_user_session_path , class: "dropdown-item" %>
                <%= link_to "Sign Up", new_user_registration_path , class: "dropdown-item" %>
              <% end %>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>


