<div class="container-fluid back py-5">
  <% if @savings.empty? %>
    <h1>Aun no tienes ningun chanhito, crealo</h1>
    <%= link_to "Crear!", new_saving_path, class:"btn btn-gradient"  %>
  <% elsif !@savings.empty? && @saving.status != "Open" %>
    <h1>Todos tus chanchitos están rotos, crea uno nuevo!</h1>
    <%= link_to "Crear!", new_saving_path, class:"btn btn-gradient" %>
  <% else %>
    <div class="row my-3">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <h1 class="card-title text-center"><%= @saving.goal_description%></h1>
          </div>
          <div class="card-body">
            <% if @savings.last.progress > 0 %>
              <div class="progress" id="progress-ahorros">
                <div class="progress-done" data-done="<%= @savings.last.progress %>">
                  <% if @savings.last.progress >= 100 %>
                    <%= "Felicitaciones llegaste a tu objetivo!" %>
                  <% else %>
                    <%= @savings.last.progress %>%
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <div class="d-flex align-items-center justify-content-between">
              <h5>Detalles</h5>
              <button type="button" class="btn btnAnimation btn-sm" data-toggle="modal" data-target="#staticBackdrop">
                  Editar
              </button>
            </div>
          </div>
          <div class="card-body">
            <p>OBJETIVO: $<%= @saving.goal%></p>
            <p> TOTAL AHORRADO $<%= @saving.total_amount%> </p>
            <% if @saving.total_amount == @saving.goal  %>
              <p>Felicitaciones, llegaste a tu objetivo! Ya puedes romper tu chanchito!!</p>
              <%= link_to "Romper Chanchito", break_chanchito_path, method: :patch, data: { confirm: "Estas seguro?"}, class: "btn btn-outline-danger", id: "RomperChanchito" %>
            <% end %>
            <% if @saving.total_amount > @saving.goal  %>
              <p>Felicitaciones, superaste tu objetivo! Ya puedes romper tu chanchito!!</p>
              <%= link_to "Romper Chanchito", break_chanchito_path, method: :patch, data: { confirm: "Estas seguro?"}, class: "btn btn-outline-danger", id: "RomperChanchito"  %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="row my-3 ">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <div class="d-flex align-items-center justify-content-between">
              <h6 class="mt-2">Todos mis chanchitos</h6>
            </div>
          </div>
          <div class="card-body">
              <% @savings.reverse.each do |saving| %>
                <% if saving.status == "Open" %>
                <div class="my-2 p-2 border rounded-lg">
                  <div class="d-flex align-items-center justify-content-between mx-2">
                    <h5 class="card-title"><%= saving.goal_description %></h5>
                    <%= image_tag("favicon-32x32.png") %>
                  </div>
                  <div>
                      <p class="card-text mx-2">Total Ahorrado: $<%= saving.total_amount %></p>
                  </div>
                </div>
                <% else %>
                <div class="my-2 p-2 border rounded-lg">
                    <div class="d-flex align-items-center justify-content-between mx-2">
                      <h5 class="card-title"><%= saving.goal_description %></h5>
                      <%= image_tag("favicon-dinero-32x32.png") %>
                    </div>
                  <div>
                    <p class="card-text mx-2">Total Ahorrado: $<%= saving.total_amount %></p>
                  </div>
                </div>
                <% end %>
              <% end %>
          </div>
        </div>
        <div class="my-3 ml-4">
          <%= link_to "Ir a mi perfil", user_path%>
        </div>
      </div>
    </div>
  <% end %>
</div>



<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h5 class="modal-title" id="staticBackdropLabel">Editar Chanchito</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= simple_form_for @saving, url: savings_path do |f| %>
        <div class="modal-body">
          <div id="formulario" class="container-fluid text-center">
            <div class="form-inputs">
              <div class="row">
                <div class="col-md-12">
                  <%= f.input :goal,
                    label: "Cual es tu objetivo de ahorro?",
                    hint: "Dejalo en blanco si no deseas cambiarlo",
                    required: false,
                    input_html: { autocomplete: "Meta" } %>
                </div>
                <div class="col-md-12">
                  <%= f.input :goal_description,
                  label: "Para que estás ahorrando?",
                  hint: "Dejalo en blanco si no deseas cambiarlo",
                  required: false,
                  input_html: { autocomplete: "Nombre del chanchito" } %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer d-flex justify-content-around">
          <div class="form-actions">
            <button type="button" class="btn btn-secondary pt-2" data-dismiss="modal">Cerrar</button>
            <%= f.button :submit, "Actualizar", class: "btn btn-flat pt-2" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>


