<div class="modal fade" id="expenseModal_<%= expense.id %>" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h5 class="modal-title" id="staticBackdropLabel">Editar</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Cerr">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= simple_form_for expense do |f| %>
        <div class="modal-body">
          <div id="formulario" class="container-fluid text-center">
            <div class="form-inputs">
              <div class="row">
                <div class="col-md-6">
                  <%= f.input :category,
                    hint: "Dejalo en blanco si no queres editar",
                    collection: Expense::CATEGORY,
                    required: false,
                    input_html: { autocomplete: "Categoria" } %>
                </div>
                <div class="col-md-6">
                  <%= f.input :amount,
                    hint: "Dejalo en blanco si no queres editar",
                    required: false,
                    input_html: { autocomplete: "$" } %>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <%= f.input :description,
                  hint: "Dejalo en blanco si no queres editar",
                  required: false,
                  input_html: { autocomplete: "Descripcion" } %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer d-flex justify-content-around">
          <div class="form-actions">
            <button type="button" class="btn btn-secondary pt-2" data-dismiss="modal">Cerrar</button>
            <%= f.button :submit, "Guardar", class: "btn btn-flat pt-2"%>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
