<div class="container-fluid ">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
<<<<<<< HEAD
          <h3 class="card-title">Mis gastos</h3>
=======
          <h3 class="card-title">Mis Gastos</h3>
>>>>>>> master
          <br>
           <ul lass="list-group ">
            <% if @expenses.any? %>
              <% @expenses.each do |expense| %>
                <li class="list-group-item d-flex justify-content-between"><%= expense.category %> $<%= expense.amount %> <br>
                  <%= expense.description %>
                  <button type="button" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#expenseModal_<%= expense.id %>">
                    Editar
                  </button>
                </li>
                  <%= render "expense_modal_edit", expense: expense %>
              <% end %>
            <% else %>
<<<<<<< HEAD
              <li>Todavia no tenes ningun gasto</li>
=======
              <li>Aun no tienes gastos</li>
>>>>>>> master
            <% end %>
          </ul>
        </div>
      </div>
    </div>
</div>


