<div class="container-fluid py-5">
  <div class="col-sm-12 col-md-12">
    <div class="cards">
      <% if @expenses.any? %>
        <% @expenses.each do |expense| %>
          <div class="card my-3">
            <div class="record">
              <div class="d-flex justify-content-between"><%= expense.category %><br>
                <button type="button" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#expenseModal_<%= expense.id %>">
                  Editar
                </button>
                <%= render "expense_modal_edit", expense: expense %>
              </div>
              <div class=" record__amount ">$<%= expense.amount %> <span class="record__fadeout">,00</span></div>
              <div class="record__caption"><%= expense.description %></div>
            </div>
          </div>
        <% end %>
      <% else %>
        <div>Aun no tienes gastos</div>
      <% end %>
    </div>
    <%== pagy_bootstrap_nav(@pagy) %>
  </div>
</div>



<!--
  <div class="record">
    <div class="record__amount">900<span class="record__fadeout">,00</span></div>
    <div class="record__caption">Rocker Creative</div>
    <div class="record__date">27.10.2014</div>
  </div> -->


