<div class="container py-5">
  <h1>Agregar nuevo gasto</h1>
  <%= simple_form_for  @expense do |f| %>
    <%= f.input :category, collection: Expense::CATEGORY,  :label => "En que gastaste?"%>
    <%= f.input :amount,  :label => "Ingresa cuanto gastaste",placeholder:"Ingresa cuanto gastaste", class: "exs" %>
    <%= f.input :description,  :label => "Descripcion del gasto", placeholder:"Descripcion del gasto", class: "exs" %>
    <div class="d-flex">
    <button type="submit" class=" animated-button-blue thar-four" data-disable-with="Agregar">Agregar</button>
    <% if current_user.pluggy_item_id.nil? %>
      <button type="button" class="animated-button-pink thar-four ml-2 p-1" data-toggle="modal" data-target="#NuevoBanco">
        Nuevo banco
      </button>
    <% end %>
    <% unless current_user.pluggy_item_id.nil? %>
      <%= link_to "Actualizar Gastos", synk_bank_path, class: "animated-button-pink thar-four ml-2 p-1" %>
    <% end %>
    </div>
  <% end %>
  <div class="mt-2">
    <%= link_to "Ir a mi perfil", user_path%>
  </div>
</div>

<div class="modal fade" id="NuevoBanco" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticNuevoBanco" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h5 class="modal-title" id="staticNuevoBanco">Nueva cuenta bancaria</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container text-center">
          <%= simple_form_for :bank, url: create_bank_path do |f| %>
                <%= f.input :user, label: "Usuario" %>
                <%= f.input :password, label: "Contraseña" %>
                <%= f.submit "Agregar banco", class:"btn btn-gradient" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>