<div class="container">
  <% if current_user.savings.empty? %>
    <h1>Aun no tienes ningun chanchito, crealo</h1>
    <%= link_to "Crear!", new_saving_path, class:"btn btn-gradient"  %>
  <% elsif !current_user.savings.empty? && current_user.savings.last.status != "Open" %>
    <h1>Todos tus chanchitos están rotos, crea uno nuevo!</h1>
    <%= link_to "Crear!", new_saving_path, class:"btn btn-gradient" %>
  <% else %>
    <h1>Expenses</h1>
    <%= simple_form_for  @expense do |f| %>
      <%= f.input :category, collection: Expense::CATEGORY %>
      <%= f.input :amount,  :label => "Ingresa tus gastos:",placeholder:"Ingresa tus gastos", class: "exs" %>
      <%= f.input :description,  :label => "Descripcion de los gastos:", placeholder:"Descripcion de los gastos", class: "exs" %>
      <%= f.submit "Agregar gastos", name:"test", class:"btn btn-gradient" %>
    <% end %>
    <div class="mt-2">
      <%= link_to "Ir a mi perfil", user_path%>
  </div>
  <% end %>
</div>


